.item-container {
  width: 26%;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3%;
  height: 8em;

  @media screen and (min-width: 576px) {
    width: 22%;
    margin: 1%;
    height: 16em;
  }
}

.nav-link {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.movie-image {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
